{% extends 'products/base.html' %}

{% block header %}
  <h1>{% block title %}Products{% endblock %}</h1>
{% endblock %}


{% block content %}

    <div class="page-header">
      <h1> Вы можете купить у нас товары перечисленные ниже :</h1>
    </div>

    <div class="row">
        {% for product in products %}
        <!--Товар-->
        <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <a href="{{ product.id }}" class="btn btn-primary" role="button">
            <img src="{{url_for('products_app.static', filename='images/'+product.img_path)}}" alt="">
          </a>
          <div class="caption">
            <h3> {{ product.title }} </h3>
            <p>{{ product.description }}</p>
            <p><a href="{{ product.id }}" class="btn btn-primary" role="button">Посмотреть товар</a></p>
          </div>
        </div>
        </div>
        <!--Товар конец -->
        {% endfor %}
    </div>

{% endblock %}